- name: Copy config file - {{ item.job_name }}
  ansible.builtin.template:
    src: mjob.xml
    dest: /tmp/mjob.xml


- name: Create a jenkins - {{ item.job_name }}
  community.general.jenkins_job:
    config: "{{ lookup('file', 'tmp/mjob.xml') }}"
    name: {{ item.job_name }}
    password: admin
    url: http://35.153.99.33.130:8080
    user: admin