- name: Copy config file - {{ item.job_name }}
  ansible.builtin.template:
    src: sjob.xml
    dest: /tmp/sjob.xml


- name: Create a jenkins - {{ item.job_name }}
  community.general.jenkins_job:
    config: "{{ lookup('file','tmp/sjob.xml') }}"
    name: {{ item.job_name }}
    password: admin
    url: http://35.153.99.33:8080
    user: admin